/* ==========================================================================
   Breakpoints
   ========================================================================== */
/* ==========================================================================
   Clearfix
   ========================================================================== */
.tab-nav {
  *zoom: 1; }
  .tab-nav:before, .tab-nav:after {
    content: "";
    display: table; }
  .tab-nav:after {
    clear: both; }

/* ==========================================================================
   TABS
   ========================================================================== */
.tab-nav {
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #666; }
  .tab-nav li {
    background-color: #ccc;
    position: relative;
    padding: 0.5em;
    float: left;
    list-style-type: none;
    margin-left: 1em;
    text-align: center;
    cursor: pointer;
    border: 1px solid #666;
    border-bottom: 0;
    z-index: 9; }
    .tab-nav li:active, .tab-nav li.active {
      background-color: #FFFFFF;
      bottom: -1px; }
    @media only screen and (max-width: 767px) {
      .tab-nav li {
        float: none;
        border-bottom: 1px;
        bottom: 0;
        margin-left: 0; }
        .tab-nav li:active, .tab-nav li.active {
          background-color: #FFFFFF;
          bottom: 0; } }

.tab-content .tab {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden; }
  .tab-content .tab.animated {
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out; }
.tab-content .active {
  opacity: 1;
  height: auto; }
