@import "compass/css3/transition";
@import "breakpoint";
@import "clearfix";

/* ==========================================================================
   TABS
   ========================================================================== */
.tab-nav {
  @extend %clearfix;
  padding       : 0;
  width         : 100%;
  border-bottom : 1px solid #666;

  li {
    background-color : #ccc;
    position         : relative;
    padding          : 0.5em;
    float            : left;
    list-style-type  : none;
    margin-left      : 1em;
    text-align       : center;
    cursor           : pointer;
    border           : 1px solid #666;
    border-bottom    : 0;
    z-index          : 9;

    &:active, &.active {
      background-color : #FFFFFF;
      bottom           : -1px;
    }

    @include breakpoint(phone) {
      float         : none;
      border-bottom : 1px;
      bottom        : 0;
      margin-left   : 0;

      &:active, &.active {
        background-color : #FFFFFF;
        bottom           : 0;
      }
    }

  }
}

.tab-content {

  .tab {
    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.animated {
      @include transition(opacity 2s ease-out);
    }
  }

  .active {
    opacity: 1;
    height: auto;
  }
}

